# any values set here will override the defaults in var.tf

#packet_facility = "ewr1"
#operating_system = "ubuntu_16_04"

#
# if you wish to store your Packet project ID and API auth token, they can be saved here
# simply replace the strings below and remove the comment hash #
# alternatively, these values can be stored as environment variables
# see the README for more details
#
#packet_auth_token="ABCDEFGHIJKLMNOPQRSTUVWXYZ123456"
#packet_project_id="12345678-90AB-CDEF-GHIJ-KLMNOPQRSTUV"


terraform_username="your_name_here"
