# Copyright 2019 JHL Consulting LLC
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# any values set here will override the defaults in var.tf

#packet_facility = "ewr1"
#operating_system = "ubuntu_16_04"

#
# if you wish to store your Packet project ID and API auth token, they can be saved here
# simply replace the strings below and remove the comment hash #
# alternatively, these values can be stored as environment variables
# see the README for more details
#
#packet_auth_token="ABCDEFGHIJKLMNOPQRSTUVWXYZ123456"
#packet_project_id="12345678-90AB-CDEF-GHIJ-KLMNOPQRSTUV"


terraform_username="your_name_here"
